.read-books-list {
    display: flex;
    flex-direction: row;
  }
  
  .read-books-details {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .book-details {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  h3 {
    margin-top: 0;
  }
  